$primary-color: #F5E8D7;
$secondary-color: #FFCFB3;
$main-font-color: #505B70;
$secondary-font-color: #8F223A;
$nope: #8F223A;


@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins/Poppins-ThinItalic.ttf") format('truetype');
}

@font-face {
  font-family: "Vidaloka";
  src: url("./../fonts/Vidaloka/Vidaloka-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Abril";
  src: url("./../fonts/Abril_Fatface/AbrilFatface-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "SourceCodePro-Light";
  src: url("./../fonts/Source_Code_Pro/SourceCodePro-Light.ttf") format('truetype');
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./../fonts/Roboto/Roboto-Light.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("./../fonts/Roboto/Roboto-Thin.ttf") format('truetype');
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, code, small, strike, strong, sub, sup, b, u, i {
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
body {
    line-height:1;
    font-family: 'Roboto-Light';
    letter-spacing: 1px;
    overflow-y: scroll;
    background-color: $primary-color;
}
ol, ul {
    list-style:none;
}
li {
  background:$secondary-color;
}
strong {
    font-weight:700;
}
#panel {
  //max-width:100vh;
  //max-height:100vh;

}
#frame {
    color:$main-font-color;
    position: relative;
    //margin: auto;
    //border:0.1px solid #ccc;
    //border-radius: 25px;
    padding:10px;
    //display: block;
    height: auto;
    //overflow-y: scroll
}
h1 {
    margin:30px 0 -2px 0;
    width:auto;
    font-family:"Abril";
    font-size: 300%;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    position: relative;
    &::after {
    content:'';
    position:absolute;
    display: block;
    width:150px;
    height:1px;
    background:$main-font-color;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    }
}
h2 {
    padding:15px;
    text-align:center;
    margin:20px 0 0 0;
    font-size: 120%;
    font-family: "Roboto-Light";
}
p.pager {
    margin:5px 0 5px;
    color:$secondary-font-color;
    text-align: center;
    padding-top: 15px;
    font-family: 'SourceCodePro-Light';
    letter-spacing: 3px;
}
img.question-image {
    display:block;
    //width: 100%;
    @media (min-width: 320px) and (max-width: 1000px) {
    width: 50%;
    }
    @media (min-width: 1001px) {
    width: 20%;
    }
    margin:10px auto;
    // border:1px solid #ccc;
    // width:100%;
    height:auto;
}
#choice-block {
  //font-family: "Roboto-Regular";
    display:block;
    list-style:none;
    //margin:-50px 0 0 0;
    margin:20px 0 0 0;
    padding:0;
    background: none;
}
#submitbutton {
    background: $secondary-color;
}
#explanation {
    margin:0 auto;
    padding:40px;
    width:50%;
    font-size: 90%;
}
.choice {
  background: $secondary-color;

}
.choice-box {
    color:$main-font-color;

    display:block;
    text-align:center;
    background: $secondary-color;
    @media (min-width: 320px) and (max-width: 1000px) {
    width: 50%;
    }
    @media (min-width: 1001px) {
    width: 20%;
    }
    margin:8px auto;
    padding:10px;
    // border:1px solid #666;
    cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    &:hover {
      background: transparentize($secondary-color, 0.4);
    }

}
.disabled{
    pointer-events:none;
    opacity:0.7;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-bottom: 30px;
}
